VITE_API_URL=http://localhost:9100
TRANSPORTAPI_APP_ID=
TRANSPORTAPI_APP_KEY=
TFL_APP_KEY=
TRANSLINK_KEY=

# Traveline / Transport Scotland / Transport for Wales
TRAVELINE_KEY=
TRAVELINE_URL=
TRANSPORTSCOTLAND_KEY=
TRANSPORTSCOTLAND_URL=
TFW_KEY=
TFW_URL=

